<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codify</title>
    <style>
        h1 {
            font-family: Comic, sans-serif;
            font-size: 18px;
            color: red;
        }
        button {
            font-size: 100px;
            border-radius: 60px;
        }
    </style>
</head>
<body>
    <h1><i>Привет, это мой первый шаблон по HTML</i></h1>
    <p>Добро пожаловать, надеюсь тебе будет интересно</p>
    <img src="https://cs8.pikabu.ru/post_img/big/2016/08/31/4/1472621506191859003.jpg">
    <br>
    <br>
    <br>
    <button><a href="https://kahoot.it/">TEXT</a></button>
    <input>
    <a href="https://kahoot.it/">TEXT</a>


</body>
</html>